# Python version
python==3.13.1

# Libraries
cachetools==4.1.0
decorator==4.3.0
grpcio==1.58.0
gunicorn==20.1.0
h5py==3.10.0
Keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.26.1
opencv-python==4.8.1.78
packaging==23.3
Pillow==10.0.1
requests==2.31.0
requests-file==1.5.1
scikit-learn==1.5.2
scipy==1.11.3
sklearn==0.0.post5
streamlit==1.25.0
tensorflow==2.14.0
